.about {
    color: #3B4252;
    padding-top: 12vh;
}

.about p {
    padding: 0.5rem;
}

.about canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #ECEFF4;
}