.about {
    color: #3B4252;
    padding-top: 8vh;
}
@media (max-height: 900px) {
    .about {
        padding-top: 6vh;
    }
}

.about p {
    padding: 0.5rem;

    font-size: 1rem;
}
@media (max-width: 600px), (max-height: 800px) {
    .about p {
        font-size: 0.95rem;
    }
}
@media (max-width: 600px), (max-height: 740px) {
    .about p {
        font-size: 0.85rem;
    }
}

.about canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #ECEFF4;
}