@media (max-width: 1000px) {
    .intro {
        padding-top: 20vh;
    }
}

.intro .title {
    margin-bottom: 0px;
    font-size: 4rem;
    color: #3B4252;
}
.intro .subtitle {
    margin: 0;
    padding: 0.5rem;

    font-size: 1.75rem;
    font-weight: 400;
    color: #4C566A;
}
.intro .links {
    padding-top: 0.75rem;
    color: #4C566A;
}
.intro .links .down-carat:hover {
    cursor: pointer;
}
.intro .links .logo-instagram, .intro .links .mail-outline {
    position: relative;
    width: 1.75rem;
}

.intro canvas {
    background-color: #ECEFF4;
}
