.intro {
    height: 100vh;
    width: 85vw;
    padding-top: 30vh;
    position: relative;
    right: 0; 

    text-align: center;
}
@media (min-width: 600px) {
    .intro {
        padding-left: 25vh;
        padding-right: 25vh;
    }
}

.intro .title {
    margin-bottom: 0px;
    font-size: 4rem;
    color: #3B4252;
}
.intro .subtitle {
    margin: 0;
    padding: 0.5rem;

    font-size: 1.75rem;
    font-weight: 400;
    color: #4C566A;
}
.intro .links {
    color: #4C566A;
}
.intro .links .page-link:hover {
    cursor: pointer;
}
.intro .links .logo-instagram {
    position: relative;
    width: 1.75rem;
}

.intro canvas {
    background-color: #ECEFF4;
}
