.projects {
    color: #3B4252;
    padding-top: 16vh;
}

.projects canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #ECEFF4;
}

.projects .carousel-caption-text {
    padding: 1.25rem;
    padding-top: 2rem;
    padding-left: 2rem;
    background-color: #ECEFF4;
    border-radius: 8px;

    text-align: left;
    color: #2E3440;
}


.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}