.sidebar {
    width: 15vw;
    height: 100vh;
    background-color: #434C5E;
    position: absolute;
    left: 0;
    padding: 1rem;

    text-align: left;
    color: #E5E9F0;
}

.sidebar .footer {
    position: absolute;
    bottom: 0;

    font-size: 0.75rem;
}
.sidebar .footer .heart {
    fill: #BF616A;
    position: relative;
    width: 9px;
    /* animation: pulse 1s ease infinite; */
}
/* @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
} */

