.intro {
    height: 100%;
    width: 100%;
    margin-top: 30vh;

    text-align: center;
}
@media (min-width: 600px) {
    .intro {
        padding-left: 25vh;
        padding-right: 25vh;
    }
}

.intro .title {
    margin-bottom: 0px;
    font-size: 4rem;
    color: #3B4252;
}
.intro .subtitle {
    margin: 0;
    padding: 0.5rem;

    font-size: 1.75rem;
    font-weight: 400;
    color: #4C566A;
}
.intro .links {
    color: #4C566A;
}

.intro canvas {
    background-color: #ECEFF4;
}