.App {
    width: 100%;
    margin: 0;

    font-family: 'Source Code Pro', monospace;
}

.content {
    width: 85vw;
    position: absolute;
    right: 0;
    overflow-x: hidden;
}
@media (max-width: 600px) {
    .content {
        width: 100vw;
    }
}

.section {
    height: 100vh;
    width: 85vw;
    padding-top: 30vh;
    position: relative;
    right: 0; 

    text-align: center;
}
@media (min-width: 600px) {
    .section {
        padding-left: 25vh;
        padding-right: 25vh;
    }
}
@media (max-width: 600px) {
    .section {
        width: 100vw;
        padding-top: 10vh;
    }
}

.section .section-heading h1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vh;
    padding-top: 2.25rem;
    transform-origin: 0 0;
    transform: translateY(100%) rotate(-90deg);

    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
}
@media(max-width: 600px) {
    .section .section-heading h1 {
        display: none;
    }
}

.projects {
    height: 100vh;
    width: 85vw;
    position: relative;

    text-align: center;
}